.terminar-compra-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    
}
.terminar-compra-button button{
    padding: 0.5rem;
    color: rgb(225, 226, 231);
    align-items: center;
    justify-content: center;
    width: 15rem;
    border: 0;
    background: rgb(48, 52, 65);
    border-radius: 5px;
    text-decoration: none;
}
.terminar-compra-button button:hover{
    border-color: rgb(96, 100, 116);
    background: rgb(96, 100, 116);
    text-decoration: none;

}